@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i');

body {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}

.table {
  display: grid;
  grid-auto-columns: minmax(50px, auto);
  grid-auto-rows: minmax(50px, auto);
  max-width: 500px;
  max-height: 500px;
  overflow: scroll;
  flex: 1 320px;
}

h2 #table-name,
h2 {
  font-size: 24px;
  font-weight: 100;
}
.summary {
  flex: 1 320px;
  padding-left: 36px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.columns {
  margin-left: 132px;
  display: flex;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  transition: all 1s;
}

.column {
  min-width: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.column > * {
  height: 30px;
  width: 30px;
  margin: 6px;
}

.row .options {
  width: 128px;
  flex-basis: 128px;
  display: flex;
  align-items: center;
}

.row .options > * {
  height: 30px;
  width: 30px;
  margin: 6px;
  display: inline-block;
}

.row .radio-input {
  display: inline-block;
  width: auto;
  margin: 6px 19px;
}

.row .options label,
.column label {
  color: #999;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.4s;
}

.column label:hover,
.row .options label:hover {
  background: rgba(0, 0, 0, 0.2);
}

input[type='text'] {
  border: none;
  font-size: 12px;
  font-style: italic;
}
.row #plus,
.column #plus {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  z-index: 999;
}

.img-uploaded {
  background: green;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  background-size: cover;
  top: 0;
}

.add-btn-col {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-right: 50px;
}

.add-btn-row {
  grid-row: 3 / 4;
  padding-bottom: 50px;
}

.add-btn-col,
.add-btn-row {
  max-width: 128px;
  max-height: 116px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: green;
}

.add-btn-col > *:hover,
.add-btn-row > *:hover {
  transform: scale(1.5);
}

.add-btn-col > * {
  transition: transform 0.4s;
  padding-bottom: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.add-btn-row > * {
  transition: transform 0.4s;
  padding-top: 12px;
  padding-right: 2px;
  cursor: pointer;
}

@media (max-width: 776px) {
  .container {
    display: block;
  }
  .summary {
    padding-left: 0;
    padding-top: 36px;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
